.vscode/
.git/
.github/
.husky/

coverage/
node_modules/

src/
scripts/
webview/

*.map

eslint.config.mjs
vite.config.ts
vite.webview.config.ts
tsconfig.json
tsconfig.*.json

pnpm-lock.yaml
pnpm-workspace.yaml

.vscodeignore